@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  /* neutral */
  --color-neutral: #1a1c1a;
  --color-neutral-coal: #424841;
  --color-neutral-black: #737970;
  --color-neutral-deep: #c2c8be;
  --color-neutral-dark: #e5e4de;
  --color-neutral-mid: #eeeee8;
  --color-neutral-light: #f4f4f0;
  --color-neutral-bright: #faf9f5;

  /* accents */
  --color-sage: #47633e;
  --color-sage-mid: #5f7c55;
  --color-sage-light: #e3e6dd;
  --color-sage-bright: #eeefe8;

  --color-terra: #79542e;
  --color-terra-light: #e7e0d7;
  --color-terra-bright: #f1ede7;

  --color-steel: #48626e;
  --color-steel-light: #dfe2e1;

  --color-red: #ba1a1a;
  --color-red-light: #f4e3df;
}

body {
  background-color: var(--color-neutral-bright);
  color: var(--color-neutral);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}
